<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kbciOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83AE3D941ED1DB8A00B97D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AE3DA81ED1DB8A00B97D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AE3DB31ED1DB8A00B97D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
